/**
This file contains all the utils like variables,
functions, mixins that will be used by the components.

Note: This file should not contain any code that generates
any css.
*/
@import './variables';