/**
 *  This file contains imports of all variables and other functions related
 *  files. This file is created inorder to avoid imports the above files
 *  in every component
 */

@import 'variables';