/* Typography */
$font-family: 'Poppins-asds', sans-serif;

/* Colors */
$color--primary: #A0D911;
$color--accent-3: #1890FF;

/* Layout and spacing */
$breakpoint-xs: 599px;
$breakpoint-sm: 767px;
$breakpoint-md: 1024px;

$gutter-size: 20px;
$gutter-size-sm: 20px;

$container-width: 1200px + $gutter-size * 2;

$breakpoints: (
    'xs': 599px,
    'sm': 767px,
    'md': 1024px,
);